
<h1>ADMIN PANEL</h1>
<a href="/user/logout"><h6 style="align-items: center;">LOGOUT</h6></a>
<div class="card" style="width: 75rem;">
    <div class="card-body">
      <h1>Email:<%=user.email %></h1>
      <h1>Name:<%=user.name %></h1>
      <h1>Password:<%=user.password %></h1>
    </div>
  </div>