<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <img src="https://ideas.com/wp-content/uploads/2015/06/icon-glossary1.png">
        <p>Create an account or login</p>
        <a href="/user/register" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <a href="/user/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>
  <!-- Footer -->
<footer  class="page-footer font-small blue">


  <div class="footer-copyright text-center py-3"><b style="color: red;">Developer :SHRIKANT PADHY</b>
    <br>
    <a  href="https://github.com/shrikantpadhy18">
      <i class="fa fa-github" style="font-size:36px"></i>
      
    </a>
    <br>
    <a href="https://www.linkedin.com/in/shrikant-padhy-9b937317b/">
      <i class="fa fa-linkedin" style="font-size:36px"></i>
    </a>
    <br>
    <a href="https://www.quora.com/profile/Shrikant-Trilochan-Padhy">
      <i class="fa fa-quora" style="font-size:36px"></i>
    </a>
  </div>

 

</footer>
<!-- Footer -->